@{
    ViewData["Title"] = "Startsida";
}

<h1 class="text-primary">Välkommen till Get Things Done Permanently</h1>
<br />

<div class="row" style="margin-top:20px;">
    <div class="col">
        <p> Med flera lyckade webbutvecklingsuppdrag bakom dig har du bestämt dig för utveckla en egen applikation, tillsammans med en god vän med kunskap om distribution och försäljning har ni slagit er ihop och bildat en startup: <strong>Yes! Do it!</strong> </p>

        <p><i>Yes! Do it! AB (YDIAB)</i> ska utveckla en applikation till andra småföretagare som hjälper till att sammordna vad som behöver göras i diverse projekt, löst baserat på <a href="https://sv.wikipedia.org/wiki/Getting_Things_Done" target="_blank">Getting Things Done</a> metoden. Er applikation ska vara anpassad för sammarbete över flera olika typer av gränsnitt och därför har ni bestämt er för att lösa detta via ett API som gör att ni dynamiskt kan skapa flera olika klientgränsnitt i takt med att bolaget växer fram. Viktigast att få på plats först är dock en databas och någon typ av användaridentifikation för att kunna avgöra vilka uppgifter som hör till vilken person.</p>
       
        <p>Ni har bestämt er för att få dessa två viktiga punkter på plats först tillsammans med ett snyggt, användarvänligt (eller allafall något fungerande) användargränsnitt för att visa möjliga kunder och investerare.</p>
    
        <p>Det viktigaste för kunderna om de ska gå över från sina gamla Post-It lappar till ditt API är att uppgifterna <strong>lagras</strong> i molnet även när man stänger av sin personliga dator. Samt att de lagras <strong>säkert</strong> utan att någon obehörig kan komma åt dem. Detta är alltså de funktioner som måste finnas på plats först. I övrigt har du och din kompis bollat mängder av idéer om hur API:et ska se ut och fungera, några har ni spikat och skrivit ner i en kravlista, resten av detaljerna låter hen dig som blivande webbutvecklar-expert avgöra vad som är bäst.</p>
    </div>
</div>
